/* Card.css */
.card {
  flex: 1 0 20%; /* Asegura que las tarjetas comiencen con el 20% del ancho del contenedor */
  max-width: 250px; /* Establece un máximo fijo para el ancho de cada tarjeta */
  min-width: 250px; /* Establece un mínimo fijo para el ancho de cada tarjeta */
  border-radius: 15px;
  margin: 10px;
  transform: scale(0.9);
  transition: transform 150ms ease-in, box-shadow 0.2s linear;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card__body {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1);
  box-shadow: 10px 10px 28px -2px rgba(0, 0, 0, 0.15);
}

.card__header img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.card__body h1 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.card__body p {
  color: #666;
  font-size: 14px;
}

/* Responsividad */
@media (max-width: 768px) {
  .card {
    flex: 1 0 50%; /* Permite que dos tarjetas se muestren por línea en pantallas pequeñas */
    max-width: 250px; /* Mantiene el ancho fijo incluso en pantallas pequeñas */
    min-width: 250px; /* Mantiene el ancho fijo incluso en pantallas pequeñas */
  }
}

@media (max-width: 400px) {
  .card {
    flex: 1 0 100%; /* A una tarjeta por línea para pantallas muy pequeñas */
    max-width: 250px; /* Mantiene el ancho fijo incluso en pantallas muy pequeñas */
    min-width: 250px; /* Mantiene el ancho fijo incluso en pantallas muy pequeñas */
  }
}
