.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #444; /* Fondo del ícono de hamburguesa */
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición para el hover */
}

.hamburger:hover {
  background-color: #555; /* Fondo al hacer hover */
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem; /* Asegurar que el padding sea consistente */
  border-radius: 5px; /* Añadir border-radius aquí para que no cambie en hover */
  transition: background-color 0.3s ease; /* Añadir transición para el fondo */
}

.link:hover,
.active {
  background-color: #555;
}

.inscripcionLink {
  background-color: red;
}

.inscripcionLink:hover {
  background-color: darkred;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .showMenu {
    display: flex;
  }
  .link {
    margin: 10px 0;
  }
}
