/* src/pages/Contact.module.css */

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #FFFFFF, #A6A6A6);
  min-height: 100vh; /* Asegura que la sección ocupe toda la altura de la ventana */
}

.titleContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.titleContainer h2 {
  font-size: clamp(1rem, 4vw, 2rem); /* Tamaño más pequeño para subtítulos */
  color: #f3f1f1; /* Color del texto */
  background-color: #333; /* Fondo oscuro */
  padding: 5px 10px; /* Menor padding */
  text-align: center; /* Centra el texto */
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  gap: 10px;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactForm:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contactForm label {
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
  text-align: center; /* Centra las etiquetas */
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center; /* Centra el texto dentro de los campos */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contactForm input:hover,
.contactForm textarea:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contactForm textarea {
  height: 150px;
  resize: none;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 47, 47);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: red;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
  text-align: center; /* Centra los mensajes de error */
}

.success {
  color: green;
  font-size: 0.9em;
  margin-top: 0.5em;
  text-align: center; /* Centra los mensajes de éxito */
}

.loader {
  margin-top: 1em;
  font-size: 1em;
  color: #000;
  text-align: center; /* Centra el loader */
}