/* src/pages/Home.module.css */

.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
  background: url("/Metabots_GEDUCAR.webp") center/cover no-repeat,
    /* Imagen de fondo primero */
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6)); /* Gradiente encima de la imagen */
  background-blend-mode: overlay;
  background-position: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin-top: calc(0% - 8%);
  margin-right: calc(0% - 6%);
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajusta el tamaño del logo dentro del círculo */
  height: auto;
  margin-top: calc(8% - 5%);
  margin-left: 15px;
}

.logo {
  max-width: 150%;
  height: auto;
  width: 73%; /* Ajusta el tamaño del logo según tus necesidades */
}

.button_home {
  margin-top: 15px; /* Ajusta el valor según tus necesidades */
  display: flex;
  justify-content: center;
}

.textContainer {
  flex: 1;
  text-align: center;
  color: red;
  margin-top: calc(14.5% - 5%);
  margin-right: calc(12% - 5%);
}

.textContainer {
  text-align: center;
  color: red;
  margin-top: calc(14.5% - 5%);
  margin-right: calc(12% - 5%);
}

.title,
.subTitle {
  text-transform: uppercase;
  font-size: 3.7rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1;
  color: red;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Sombreado negro */
  -webkit-text-stroke: 1px white; /* Borde blanco */
  filter: drop-shadow(0 0 5px white); /* Sombra difusa alrededor del texto */
}

.description,
.description1 {
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Sombreado negro más suave */
  -webkit-text-stroke: 0.5px red; /* Borde blanco más delgado */
  filter: drop-shadow(0 0 3px red); /* Sombra difusa alrededor del texto */
}

/*------------------------*/

.line {
  width: 80%; /* Ancho inicial de la línea, responsive */
  max-width: 590px; /* Ancho máximo de la línea */
  height: 4px; /* Altura de la línea */
  background-color: white; /* Color de fondo de la línea */
  border: 2.2px solid red; /* Borde rojo */
  border-radius: 8px;
  margin: 1rem auto; /* Centramos la línea horizontalmente */
  animation: expand 1.6s ease-out forwards; /* Animación para expandir la línea */
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding: 20px 20px;
}

.text_box p {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  padding: 5px 10px;
}

/* --------------------Responsive design TABLETS --------------------*/
@media (min-width: 768px) and (max-width: 1100px) {
  .homeSection {
    min-height: 80vh;
  }

  .content {
    flex-direction: column; /* Adjust to column layout */
    align-items: center;
    text-align: center; /* Center text for better readability */
  }

  .logoContainer {
    justify-content: center;
    width: 50%; /* Ajusta el tamaño del logo dentro del círculo */
    height: auto;
    margin-top: calc(12% - 5%);
  }

  .textContainer {
    max-width: 80%;
    margin: 20px 0;
  }

  .title,
  .subTitle {
    font-size: 3.5rem; /* Adjust font size for tablets */
  }
}

/* ---------------------Responsive design MOBILE -----------------*/
@media (max-width: 767px) {
  .homeSection {
    min-height: 90vh;
  }

  .content {
    flex-direction: column; /* Column layout for mobile */
    align-items: center;
    text-align: center; /* Center text for better readability */
  }

  .logoContainer {
    justify-content: center;
    width: 98%; /* Ajusta el tamaño del logo dentro del círculo */
    height: auto;
    margin: 40px 0 0 0; /* Add margin for spacing */
  }

  .textContainer {
    max-width: 100%;
    margin: 20px 0;
  }

  .title,
  .subTitle {
    font-size: 2.5rem; /* Adjust font size for mobile */
  }

  .description,
  .description1 {
    font-size: 1rem; /* Adjust font size for mobile */
    margin: 0;
  }

  .line {
    width: 80%; /* Adjust width for mobile */
    height: 3px; /* Adjust height for mobile */
    margin: 0.5rem auto; /* Adjust margin for mobile */
  }

  .text_box {
    width: 95%;
    padding: 20px 0 50px 0;
  }
}
