.scheduleSection {
  background: linear-gradient(180deg, #FFFFFF, #A6A6A6);
  padding: 50px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.titleContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.titleContainer h1 {
  font-size: clamp(1.2rem, 5vw, 2.5rem); /* Más dinámico y adaptable */
  color: white; /* Color del texto */
  background-color: red; /* Fondo rojo */
  padding: 5px 10px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 5px; /* Espacio inferior */
}

.highlight {
  font-weight: bold; /* Negrita */
  color: white; /* Color de texto */
  background-color: rgb(51, 47, 47); /* Fondo resaltado */
  padding: 5px 2px; /* Un poco de padding para el fondo */
  border-radius : 10px;
}

.countdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.countdownExplanation h2 {
  font-size: 1.75rem;
  color: #555;
  margin-bottom: 10px;
}

.optionTexto {
  color: red;
}

.boton {
  flex-shrink: 1;
  width: auto; /* Ancho automático para el botón de descarga */
  max-width: 300px; /* Ancho máximo para evitar que se estire demasiado */
  margin-top: 10px; /* Margen superior para separación */
}

.popup {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.tabs label {
  background-color: #E5E5E5;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
  user-select: none; /* Previene la selección de texto */
}

.tabs input {
  display: none;
}

.tabs input:checked + label {
  background-color: red;
  color: white;
  border: 2px solid red;
}

.tabs label:hover {
  color: red;
  background-color: #e0e0e0;
  border: 2px solid red;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.marker {
  position: absolute;
  bottom: -5px;
  height: 4px;
  background-color: red;
  border-radius: 2px;
  transition: left 0.3s ease, width 0.3s ease;
}

.tabContent {
  padding: 20px;
  text-align: left;
}

.tabContent h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.tabContent h3 {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 10px;
}

.tabContent p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tabContent ul {
  list-style-type: disc;
  padding-left: 20px;
}

.images {
  width: 50%;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabSwitcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px; /* Espacio entre los elementos */
  max-width: 600px; /* Ancho máximo para el grupo de botones */
  margin-left: auto; /* Centrando el contenedor */
  margin-right: auto; /* Centrando el contenedor */
}

.tabButton {
  flex-grow: 0; /* Evita que los botones crezcan demasiado */
  flex-basis: 45%; /* Los botones ocuparán el 45% del ancho disponible */
  min-width: 140px; /* Ancho mínimo para los botones */
  max-width: 200px; /* Ancho máximo para los botones */
  background-color: #e0e0e0;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
  font-weight: bold;
  color: red;
  font-size: 1.1rem;
  user-select: none;
  text-align: center;
}

.tabButton:hover {
  background-color: #d3d3d3;
}

.tabButton.active {
  background-color: red;
  color: white;
  border: 2px solid red;
}

@media (max-width: 768px) {
  .tabButton {
    flex-basis: 100%; /* Los botones ocuparán el 100% del ancho disponible en pantallas pequeñas */
    max-width: none; /* Elimina el ancho máximo en pantallas pequeñas */
    padding: 10px 15px; /* Reduce el padding en pantallas pequeñas */
    font-size: 1rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }

  .boton {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    margin-top: 15px; /* Margen superior para separación en pantallas pequeñas */
  }
}