/* Schedule.module.css */
.scheduleSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Ajusta según tus necesidades */
  background: linear-gradient(to bottom, #fdfdfd, #A6A6A6);
  font-family: monospace;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;

}



/* ... Toggle Switch ... */

.toggleSwitch {
  position: relative;
  width: 6rem;
  display: inline-block;
  text-align: left;
}

.toggleSwitchInput {
  display: none;
}

.toggleSwitchLabel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.toggleSwitchInner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in-out;
}

.toggleSwitchInner:before,
.toggleSwitchInner:after {
  display: block;
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 26px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.toggleSwitchInner:before {
  content: "General";
  padding-left: 10px;
  background-color: #2f2f2f;
  color: #fff;
}

.toggleSwitchInner:after {
  content: "Colegios";
  padding-right: 10px;
  background-color: #3498db;
  color: #fff;
  text-align: right;
}

.toggleSwitchSwitch {
  display: block;
  width: 18px;
  margin: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 64px;
  border: 2px solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.toggleSwitchInput:checked + .toggleSwitchLabel .toggleSwitchInner {
  margin-left: 0;
}

.toggleSwitchInput:checked + .toggleSwitchLabel .toggleSwitchSwitch {
  right: 0px;
}




.countdownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; 
  margin-bottom: 1rem;
}

.countdownWrapper {
  margin-left: 1rem; 
}

.countdownExplanation {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  line-height: 1;
  color: #525d6f;
  max-width: 18rem;
  line-height: 1.2;
  text-align: right;
}

.title {
  width: 100%;
  text-align: center;
}

.title h1{
  font-size: clamp(1.2rem, 5vw, 2.5rem); /* Más dinámico y adaptable */
  color: white;
  background-color: red;
  padding: 5px 10px; /* Menor padding para dispositivos pequeños */
  border-radius: 5px; /* Bordes más sutiles */
  margin-bottom: 5px; /* Menor separación entre elementos*/
}

.boton {
  padding-top: 2em;
  padding-bottom: 2em;
}

.popup {
  width: 90%;
  height: 80%;
  min-height: 470px;
  max-height: 470px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 0.3em solid #50494944;
  background-color: #EFE9E0;
  overflow: hidden;
  box-shadow: 16px 16px 48px #2e364330;
  display: flex;
  margin-bottom: 4em;
}

.tabs {
  flex: 0 0 300px;
  width: 100%;
  max-width: 40%;
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  /* padding-left: 1em; */
  /* padding-top: 4em; */
}

.tabs label {
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  color: #000000;
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  width: 100%;
  height: 3em;
  text-align: left;
  z-index: 100;
  user-select: none;
  text-transform: uppercase;
  /* padding-left: 4em; */
  padding: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.tabs label p {
  margin: 0;
  padding: 0;
}

.tabs label p:first-child {
  /* font-size: 0.8em; */
  font-size: clamp(0.6rem, 1.7vw, 1.2rem);
}

.tabs label p:last-child {
  /* font-size: 0.8em; */
  font-size: clamp(0.5rem, 1vw, 0.6rem) !important; 
  color: red;
}

.tabContent {
  flex: 1;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow-y: auto;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  text-align: justify;
  text-justify: inter-word;
}
.tabContent h1 {
  font-size: clamp(1.2rem, 1vw, 2rem) !important; 
  font-weight: 600;
  color: #525d6f;
}

.tabContent h2 {
  font-size: clamp(1.1rem, 1vw, 1.8rem) !important; 
  font-weight: 400;
  color: #525d6f;
}

.tabContent h3 {
  font-size: clamp(1.2rem, 1vw, 2rem) !important; 
  font-weight: 600;
  color: #ff0101;

}

.tabContent p {
  font-size: clamp(0.8rem, 0.9vw, 1.1rem) !important; 
  font-weight: 200;
  color: #3e4653;
}
.tabContent img {
  width: auto;
  height: 3.7rem;
  
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label:hover,
.tabs input[type="radio"]:checked + label {
  opacity: 2;
}

.marker {
  position: absolute;
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  top: -100%;
  left: 0;
  transition: transform 0.2s ease-in-out;
}


.top,
.bottom {
  background-color: #ebf0f4;
  box-shadow: 32px 32px 48px #2e364315;
}

.top {
  height: calc(50% + 0.4em);
  margin-bottom: auto;
  border-radius: 0 0 1em 0;
}

.bottom {
  height: calc(50% - 3.5em);
  border-radius: 0 1em 0 0;
}



.images {
  width: auto;
  height: 30vw;
  margin-bottom: 15px;
  padding-left: 2rem;
  border-radius: 8px;
  text-align: center;
}

.optionText {
  font-size: 0.8em;
  color: #ff0000; /* O cualquier color que prefieras */
  margin-left: 10px;
}


.tabs input[type="radio"]:nth-of-type(1):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 0)); }
.tabs input[type="radio"]:nth-of-type(2):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 1)); }
.tabs input[type="radio"]:nth-of-type(3):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 2)); }
.tabs input[type="radio"]:nth-of-type(4):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 3)); }
.tabs input[type="radio"]:nth-of-type(5):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 4)); }
.tabs input[type="radio"]:nth-of-type(6):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 5)); }
.tabs input[type="radio"]:nth-of-type(7):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 6)); }

.tabs.option1 input[type="radio"]:nth-of-type(8):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 7)); }
.tabs.option1 input[type="radio"]:nth-of-type(9):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 8)); }
.tabs.option1 input[type="radio"]:nth-of-type(10):checked ~ .marker { transform: translateY(calc(50% / var(--tab-count) * 9)); }