/* Schedule.module.css */
.scheduleSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Ajusta según tus necesidades */
  background: linear-gradient(to bottom, #fdfdfd, #A6A6A6);
  font-family: monospace;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;

}

.boton {
  padding-top: 2em;
}

.popup {
  width: 80%;
  height: 80%;
  min-height: 470px;
  max-height: 470px;
  border-radius: 48px;
  box-sizing: border-box;
  border: 0.3em solid #50494944;
  background-color: #EFE9E0;
  overflow: hidden;
  box-shadow: 16px 16px 48px #2e364330;
  display: flex;
}

.tabs {
  flex: 0 0 240px;
  width: 100%;
  max-width: 18vw;
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  /* padding-left: 1em; */
  /* padding-top: 4em; */
}

.tabs label {
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
  color: #525d6f;
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
  display: block;
  width: 16vw;
  height: 3em;
  text-align: left;
  z-index: 100;
  user-select: none;
  text-transform: uppercase;
  /* padding-left: 4em; */
  padding: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.tabContent {
  flex: 1;
  padding-left: 3vw;
  overflow-y: auto;
  font-size: 0.8rem;
  text-overflow: ellipsis;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label:hover,
.tabs input[type="radio"]:checked + label {
  opacity: 2;
}

.marker {
  position: absolute;
  width: 18vw;
  height: 200%;
  display: flex;
  flex-direction: column;
  top: -100%;
  left: 0;
  transition: transform 0.2s ease-in-out;
}

.top,
.bottom {
  background-color: #ebf0f4;
  box-shadow: 32px 32px 48px #2e364315;
}

.top {
  height: calc(50% + 1em);
  margin-bottom: auto;
  border-radius: 0 0 1em 0;
}

.bottom {
  height: calc(50% - 3em);
  border-radius: 0 1em 0 0;
}

.trophy {
  width: 30vw;
  height: 30vw;
  margin-bottom: 15px;
  border-radius: 8px;
}

.tabs input[type="radio"]:nth-of-type(1):checked ~ .marker { transform: translateY(calc(50% / 10 * 0)); }
.tabs input[type="radio"]:nth-of-type(2):checked ~ .marker { transform: translateY(calc(50% / 10 * 1)); }
.tabs input[type="radio"]:nth-of-type(3):checked ~ .marker { transform: translateY(calc(50% / 10 * 2)); }
.tabs input[type="radio"]:nth-of-type(4):checked ~ .marker { transform: translateY(calc(50% / 10 * 3)); }
.tabs input[type="radio"]:nth-of-type(5):checked ~ .marker { transform: translateY(calc(50% / 10 * 4)); }
.tabs input[type="radio"]:nth-of-type(6):checked ~ .marker { transform: translateY(calc(50% / 10 * 5)); }
.tabs input[type="radio"]:nth-of-type(7):checked ~ .marker { transform: translateY(calc(50% / 10 * 6)); }
.tabs input[type="radio"]:nth-of-type(8):checked ~ .marker { transform: translateY(calc(50% / 10 * 7)); }
.tabs input[type="radio"]:nth-of-type(9):checked ~ .marker { transform: translateY(calc(50% / 10 * 8)); }
.tabs input[type="radio"]:nth-of-type(10):checked ~ .marker { transform: translateY(calc(50% / 10 * 9)); }