/* Ubication.module.css */
.ubicationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, #FFFFFF, #A6A6A6); /* Gradiente de azul claro a blanco */
  padding: 20px;
  box-sizing: border-box;
}

.titleContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.titleContainer h1 {
  font-size: clamp(1.2rem, 5vw, 2.5rem); /* Más dinámico y adaptable */
  color: white; /* Color del texto */
  background-color: red; /* Fondo rojo */
  padding: 5px 10px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 5px; /* Espacio inferior */
}

.mapContainer {
  width: 80%; /* Ajusta según tus necesidades */
  height: 60%; /* Ajusta según tus necesidades */
  /* margin: 20px;
  box-sizing: border-box; */
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Bordes redondeados para el mapa */
}

/* Media queries para ajustar los márgenes en pantallas más pequeñas */
@media (max-width: 768px) {
  .mapContainer {
    margin: 1%; /* Menor margen en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .mapContainer {
    margin: 0.5%; /* Aún menor margen en pantallas muy pequeñas */
  }
}

.recenter-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  z-index: 1000;
}

.recenter-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 80%; /* Bordes completamente redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Añadir transición suave */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Sombra para el botón */
}

.recenter-button:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Aumentar tamaño al hacer hover */
}
