/* src/pages/Categories.module.css */

.categoriesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(7, 94%, 87%);
  padding: 20px;
  box-sizing: border-box;
}
