/* src/pages/Contact.module.css */

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #EEEEEE, #A6A6A6);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.titleContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.titleContainer h1 {
  font-size: 3rem; /* Tamaño de la fuente */
  color: white; /* Color del texto */
  background-color: red; /* Fondo rojo */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 10px; /* Bordes redondeados, si lo deseas */
  margin-bottom: 20px; /* Espacio inferior */
}

.titleContainer h2 {
  font-size: 2rem; /* Cambia el tamaño de la fuente */
  color: #f3f1f1; /* Cambia el color del texto */
  background-color: rgb(51, 47, 47); /* Fondo rojo */
  padding: 20px 80px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 10px; /* Bordes redondeados, si lo deseas */
  margin-bottom: 20px; /* Espacio inferior */
  display: inline-block;
}

.titleContainer h3 {
  font-size: 1.5rem; /* Cambia el tamaño de la fuente */
  color: #0000ff; /* Cambia el color del texto */
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactForm:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contactForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contactForm input:hover,
.contactForm textarea:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contactForm textarea {
  height: 150px;
  resize: none;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.submitButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.success {
  color: green;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.loader {
  margin-top: 1em;
  font-size: 1em;
  color: #000;
}