/* src/pages/Home.module.css */

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
  padding: 20px;
  box-sizing: border-box;
}
