/* src/pages/Schedule.module.css */

.scheduleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffe4c4;
  padding: 20px;
  box-sizing: border-box;
}
