/* Schedule.module.css */
.scheduleSection {
  /* height: 100%; */
  padding: 20px;
  width: 100%;
  overflow: hidden;
  background-color: #d3dce6;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton {
  padding: 2em;
}

.popup {
  width: 80%;
  height: 80%;
  min-height: 470px;
  max-height: 470px;
  border-radius: 48px;
  box-sizing: border-box;
  border: 16px solid #ebf0f4;
  background-color: #dfe6ed;
  overflow: hidden;
  box-shadow: 16px 16px 48px #2e364330;
  display: flex;
}

.tabs {
  flex: 0 0 240px;
  width: 100%;
  max-width: 18vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 10px 0;
}

.tabs label {
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
  color: #525d6f;
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
  display: block;
  width: 16vw;
  height: 7vh;
  text-align: left;
  z-index: 100;
  user-select: none;
  text-transform: uppercase;
  padding-left: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.tabContent {
  flex: 1;
  padding: 1vw;
  overflow-y: auto;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label:hover,
.tabs input[type="radio"]:checked + label {
  opacity: 2;
}

.marker {
  position: absolute;
  width: 18vw;
  height: 200%;
  display: flex;
  flex-direction: column;
  top: -100%;
  left: 0;
  transition: transform 0.2s ease-in-out;
}

.top,
.bottom {
  background-color: #ebf0f4;
  box-shadow: 32px 32px 48px #2e364315;
}

.top {
  height: calc(45% + 30px);
  margin-bottom: auto;
  border-radius: 0 0 32px 0;
}

.bottom {
  height: calc(50% - 30px);
  border-radius: 0 32px 0 0;
}

.trophy {
  width: 30vw;
  height: 30vw;
  margin-bottom: 15px;
  border-radius: 8px;
}

.campus {
  width: 30vw;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}


.tabs input[type="radio"]:nth-of-type(1):checked ~ .marker { transform: translateY(calc(50% / 10 * 0)); }
.tabs input[type="radio"]:nth-of-type(2):checked ~ .marker { transform: translateY(calc(50% / 10 * 1)); }
.tabs input[type="radio"]:nth-of-type(3):checked ~ .marker { transform: translateY(calc(50% / 10 * 2)); }
.tabs input[type="radio"]:nth-of-type(4):checked ~ .marker { transform: translateY(calc(50% / 10 * 3)); }
.tabs input[type="radio"]:nth-of-type(5):checked ~ .marker { transform: translateY(calc(50% / 10 * 4)); }
.tabs input[type="radio"]:nth-of-type(6):checked ~ .marker { transform: translateY(calc(50% / 10 * 5)); }
.tabs input[type="radio"]:nth-of-type(7):checked ~ .marker { transform: translateY(calc(50% / 10 * 6)); }
.tabs input[type="radio"]:nth-of-type(8):checked ~ .marker { transform: translateY(calc(50% / 10 * 7)); }
.tabs input[type="radio"]:nth-of-type(9):checked ~ .marker { transform: translateY(calc(50% / 10 * 8)); }
.tabs input[type="radio"]:nth-of-type(10):checked ~ .marker { transform: translateY(calc(50% / 10 * 9)); }