/* src/components/Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
}

.link {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
